.project
data/Masaoka-et-al/.RData
data/Masaoka-et-al/.Rhistory
data/Masaoka-et-al/data-transformation.R~
data/Masaoka-et-al/jose.zip
data/McGill-natural-scenes-database
.pydevproject
tmp
.Rproj.user
color-categorization-games.Rproj
*~
